body {
    height: 100vh;
    background-color: #8A0808;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.canvas {
    background-color: #FFF;
    border: 20px ridge #FFD700;
}
